@import url("/src/styles/variables.css");

.nav-links {
  display: flex;
  gap: 1em;
}
.nav-links > li,
.nav-links > p {
  height: 67px;
  align-content: center;
}
.active {
  color: var(--active-links-color);
}
.nav-links p:first-child::after {
  content: "\25be";
  margin-left: 0.2em;
}
