.container {
  background-color: var(--nav-container-background-color);
  margin-top: 2em;
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  text-align: center;
  justify-content: space-around;
}
.grouped-links h3 {
  color: var(--active-links-color);
}
.grouped-links li {
  color: gray;
}
