@import url("/src/styles/variables.css");
.dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  font-size: 0.9em;
  background-color: var(--nav-container-background-color);
  padding: 1em;
}
.dropdown ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.dropdown ul li {
  flex-basis: calc((100% - 3 * 0.5em) / 4);
}
.dropdown ul li a {
  color: gray;
}
.dropdown ul li a:hover {
  color: black;
}
