@import url(/src/styles/variables.css);

@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.profile {
  display: flex;
  gap: 1em;
  margin-left: auto;
  align-items: center;
}

.profile a {
  color: var(--icons-color);
  font-size: 1.5em;
}
.profile-actions a {
  font-size: 1em;
}

.profile-actions {
  position: absolute;
  right: 0;
  width: 20em;
  background-color: var(--nav-container-background-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.profile-icon:hover .profile-actions {
  visibility: visible;
  animation: slideDownFadeIn 0.3s ease forwards; /* Animation to show */
}

.profile-icon:not(:hover) .profile-actions {
  visibility: hidden;
  animation: slideDownFadeOut 0.3s ease forwards; /* Animation to hide */
}
.cart-container {
  position: relative;
}
.cart-items-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  padding: 0.1em;
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: var(--active-links-color);
  border-radius: 50%;
  bottom: -3px;
  right: -2px;
}
.cart {
  position: absolute;
  opacity: 0;
  bottom: -130px;
  right: 0;
  transform: translateX(100%);
  min-width: 150px;
  padding: 1em 3em;
  background-color: var(--nav-container-background-color);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none; /* Prevent interactions when hidden */
}

.cart.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; /* Allow interactions when visible */
}
