@import url(/src/styles/variables.css);
.container {
  background-color: var(--nav-container-background-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.navigation {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2em;
  gap: 2em;
}
