.navigation {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 2em;
}
.logo img {
  max-width: 80px;
  max-height: 80px;
}
.nav-links {
  display: flex;
  gap: 1em;
}
.profile {
  display: flex;
  gap: 1em;
  margin-left: auto;
}
.profile a {
  color: var(--icons-color);
  font-size: 1.5em;
}
