@import url("/src//styles//variables.css");

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.sort-container {
  margin-bottom: 1em;
}
.sort {
  border: none;
  margin-left: 1em;
  font-size: 0.9em;
}
