@import url("./styles/variables.css");

html {
  background-color: var(--site-background-color);
  position: relative;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5em;
}
.active-modal {
  overflow-y: hidden;
}
